body {
    background-image: url('../images/star-wars-chibis.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #000000;
}

.hidden {
    display: none;
}

#game-container {
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

#question {
    color: #ffffff;
}